useDynLib(hergm, .registration = TRUE)

importFrom(Rcpp, evalCpp)
importFrom(utils, packageDescription)
importFrom(Matrix, bdiag, Matrix)
importFrom(igraph, cluster_walktrap)
importFrom(intergraph, asIgraph)
importFrom(stats, median, qlogis, rbinom, glm, update)
import(ergm)
importFrom(latentnet, ergmm.drawpie)
import(mcgibbsit)
import(network)
importFrom(parallel, makePSOCKcluster, clusterEvalQ, clusterApplyLB, stopCluster, clusterApply, mclapply, makeCluster)
importFrom(sna, gplot, component.dist, geodist)
importFrom(grDevices, "dev.off", "pdf")
importFrom(graphics, "abline", "boxplot", "hist", "matplot", "par", "pie", "plot", "points")
importFrom(stats, "as.formula", "kmeans", "quantile", "runif", "sd", "simulate", "terms")
importFrom(utils, "capture.output", "flush.console")
importFrom(methods, "is")
importFrom(mlergm, mlergm, set_options) 
importFrom(stringr, str_remove)

# Export all names that do not begin with a dot.
exportPattern("^[^\\.]")
S3method(gof, hergm)
S3method(mcmc.diagnostics, hergm)
S3method(plot, hergm)
S3method(print, hergm)
S3method(simulate, hergm)
S3method(summary, hergm)
